{% load static %}
{% load poll_extras %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="script" href="{% static 'js/script.js' %}">

</head>
<body>
    <header>
        <center>
            <h2>Lista de Compras de <strong>{{ usuario|capfirst }}</strong></h2>
        </center>        
    </header>

    <main>
        <p>{% now "jS F Y H:i" %}</p>
        <p></p>
        <center>
            <table  class="table table-hover table-striped" id="tabela">
                <tr id="linha">
                    <th >Produto</th>
                    <!-- <th >Usuário</th> -->
                    <!-- <th >data</th> -->
                    <th >Quantidade</th>                    
                </tr>

                {% for dado in dados %}
                                
                <tr id="linha">
                    <th >{{ dado.produto }}</th>
                    <!-- <th >{{ dado.usuario }}</th> -->
                    <!-- <th >{{ dado.data}}</th> -->
                    <th >{{ dado.quantidade }}</th>                    
                {% endfor %}
            
            </table>
        </center>

    </main>

</body>
</html>