{% load static %}
{% load poll_extras %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Compras</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="script" href="{% static 'js/script.js' %}">

</head>
<body>
    <header>
        <center>
            <h2>Lista de Produtos</h2>
        </center>        
    </header>

    <main>
        
        <center>
            <table  class="table table-hover table-striped">
                <tr id="linha">
                    <th >Produto</th>
                    <!-- <th >Preço</th> -->
                    <th >Tipo</th>
                    <!-- <th >Quantidade</th> -->
                    <th >Descrição</th>
                    <!-- <th >Mercado</th> -->
                    <!-- <th>Total</th> -->
                </tr>

                {% for dado in dados %}
                                
                <tr id="linha">
                    <th >{{ dado.produto }}</th>                   
                    <th >{{ dado.tipo }}</th>                    
                    <th >{{ dado.descricao }}</th>                             
                </tr>
                {% endfor %}
            
            </table>
        </center>


    </main>


</body>
</html>