{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Compras</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <center>
            <h2>Lista de Compras</h2>
        </center>        
    </header>

    <main>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sapiente laudantium aperiam at, maiores quis commodi unde! Sint quae explicabo fuga quas minus ratione. Iusto porro deleniti officiis nisi explicabo?</p>
        </div>
    </main>



    
    
</body>
</html>